<div
  class="container mx-auto max-w-xl flex flex-col h-screen border border-base-200 shadow-xl"
>
  <div class="navbar bg-base-100 mb-5 shadow-md py-3">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Jesriel Layug</a>
    </div>
    <div class="flex-none">
      <button class="btn btn-square btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="flex-grow bg-base-100 px-7 overflow-auto">
    <div *ngFor="let message of messages">
      {{ message.senderId }} {{ message.content }}
      <!-- <div *ngFor="let content of chat.chats">
        <div>{{ content.content }}</div>
      </div> -->
      <!-- <div *ngFor="let chat of this.chats">
      <div *ngIf="this.chat.senderId !== this.userId" class="chat chat-start">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS chat bubble component"
              src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
            />
          </div>
        </div>
        <div class="chat-bubble">You were the Chosen One!</div>
      </div>
      <div *ngIf="this.chat.receiverId === this.userId" class="chat chat-end">
        <div class="chat-bubble">I hate you!</div>
      </div>
    </div> -->
    </div>
  </div>

  <div class="bg-base-200 p-7 mt-4 flex justify-center">
    <form (ngSubmit)="sendMessage()" (keyup.enter)="sendMessage()">
      <div class="messageBox">
        <div class="fileUploadWrapper">
          <label for="file">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 337 337"
            >
              <circle
                stroke-width="20"
                stroke="#6c6c6c"
                fill="none"
                r="158.5"
                cy="168.5"
                cx="168.5"
              ></circle>
              <path
                stroke-linecap="round"
                stroke-width="25"
                stroke="#6c6c6c"
                d="M167.759 79V259"
              ></path>
              <path
                stroke-linecap="round"
                stroke-width="25"
                stroke="#6c6c6c"
                d="M79 167.138H259"
              ></path>
            </svg>
            <span class="tooltip">Add an image</span>
          </label>
          <input type="file" id="file" name="file" />
        </div>
        <input
          required
          placeholder="Message..."
          type="text"
          [(ngModel)]="newMessage"
          id="messageInput"
          name="chatMessage"
        />
        <button type="submit" class="bg-base-100" id="sendButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 664 663"
          >
            <path
              fill="none"
              d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
            ></path>
            <path
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="33.67"
              stroke="#6c6c6c"
              d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"
            ></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
