<div
  class="h-full container mx-auto max-w-xl flex gap-1 border border-base-200 shadow-xl"
>
  <div class="drawer h-lvh">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <section class="drawer-content min-h-full flex flex-col">
      <app-navbar class="shadow-lg fixed-top"></app-navbar>
      <main role="main" class="flex-1 overflow-auto min-h-dvh p-2">
        <router-outlet></router-outlet>
      </main>
    </section>
    <app-drawer class="drawer-side"></app-drawer>
  </div>
</div>
