<!-- <main class="h-screen flex items-center">
  <div class="mockup-phone border-primary h-3/4">
    <div class="camera"></div>
    <div class="display">
      <div class="artboard artboard-demo phone-2">
        <section role="main" class="h-full py-6">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
  </div>
</main> -->

<!-- <main class="h-screen">
  <div class="drawer h-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle" />
    <section class="drawer-content min-h-full flex flex-col">
      <app-navbar class="shadow-lg"></app-navbar>
      <main role="main" class="flex-1">
        <router-outlet></router-outlet>
      </main>
    </section>
    <app-drawer class="drawer-side"></app-drawer>
  </div>
</main> -->


<main class="h-screen overflow-hidden">
  <router-outlet></router-outlet>
</main>
<!-- <div class="drawer h-full">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <section class="drawer-content min-h-full flex flex-col">
    <app-navbar></app-navbar>
    <main role="main" class="flex-1">
      <router-outlet />
    </main>
  </section>
  <app-drawer class="drawer-side"></app-drawer>
</div> -->
