<div
  class="card flex flex-col items-center w-full justify-center py-8 mx-auto lg:py-0"
>
  <div
    class="w-full md:mt-0 sm:max-w-md xl:p-0"
  >
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
      >
        Edit Profile
      </h1>
      <form [formGroup]="profileForm" (ngSubmit)="add()" class="space-y-4 md:space-y-6">
        <app-upload-image></app-upload-image>
        <div>
            <label
              for="email"
              class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
              >Firstname</label
            >
            <input
              formControlName="firstname"
              type="text"
              name="firstname"
              id="firstname"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Firstname"
              required=""
            />
          </div>
        <div>
          <label
            for="email"
            class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
            >Lastname</label
          >
          <input
            formControlName="lastname"
            type="text"
            name="lastname"
            id="lastname"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Lastname"
            required=""
          />
        </div>
        <div>
          <label
            for="confirm-password"
            class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"
            >Bio</label
          >
          <textarea formControlName="bio" placeholder="Bio" class="textarea w-full bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" ></textarea>
        </div>
        <button
          type="submit"
          class="text-center w-full p-2.5 rounded-lg text-xs bg-purple-700 text-white border-purple-700"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>