/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    font-family: Roboto;
  }

  @media (min-width: 640px) {
    .w-fixed {
      flex: 0 1 230px;
      min-width: 230px;
    }
  }
}
